{% extends 'base.html.twig' %}

{% block title %}Vérifiez vos mails{% endblock %}

{% block body %}
    <p>Un mail contenant un lien de réinitialisation de mot de passe vous a été envoyé. Si un compte existe avec cette adresse, vous le recevrez dans quelques minutes.</p>
{% endblock %}
