{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialiser mon mot de passe</h1>

   {{ form_start(requestForm, { attr: { target: '_self' } }) }}

        {{ form_row(requestForm.email) }}
        <button class="btn">Envoyer le lien de réinitialisation</button>
    {{ form_end(requestForm) }}
{% endblock %}
