{% extends 'base.html.twig' %}

{% block title %}Une erreur est survenue{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        <h1>Une erreur est survenue</h1>
        <p>Nous sommes désolés, une erreur inattendue est survenue.</p>
        <a href="/">Retour à l'accueil</a>
    </div>
{% endblock %}
